
body {
    background-color: #F0F8FF; 
    color: #6A5ACD; 
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}


#game-container {
    width: 90%;
    max-width: 600px;
    border: 8px solid #9370DB; 
    box-shadow: 0 0 15px rgba(147, 112, 219, 0.9); 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-screen {
    display: none;
    padding: 20px;
}

.game-screen.active {
    display: block;
}

.game-screen.hidden {
    display: none;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FF69B4; 
    text-shadow: 2px 2px 0 #DB7093; 
}

h2 {
    font-size: 1rem;
    color: #483D8B; 
    margin-bottom: 30px;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.footer-text {
    font-size: 0.5rem;
    margin-top: 30px;
    color: #B0C4DE;
}


.pixel-button {
    font-family: 'Press Start 2P', cursive;
    background-color: #ADD8E6; 
    color: #483D8B; 
    border: 4px solid #8A2BE2; 
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.1s;
    box-shadow: 4px 4px 0 #6A5ACD; 
    outline: none;
    margin-top: 20px;
}

.pixel-button:hover {
    background-color: #B0E0E6; 
    box-shadow: 2px 2px 0 #6A5ACD;
}

.pixel-button:active {
    background-color: #98FB98;
    box-shadow: none;
    transform: translate(2px, 2px);
}

#message-box {
    text-align: left;
    border: 3px solid #DA70D6;
    padding: 15px;
    margin: 20px 0;
    background-color: rgba(255, 250, 250, 0.95);
    color: #483D8B; 
}

